
.body{
   width:100%;
   margin:0 auto;
   
}
.header{
    width: 100%;
    font-size: 3.34vw;
    padding: 1em 1em 0.5em 1em;
    float:left;
    overflow:hidden;
    font-family: 'Poppins' , sans-serif;
  
}
.logo{
    margin-left:1em;
    width:6.25em;
    float:left;
    
}
.logo img{
    width:6.25em;
}
.nav{
    margin-top:0.4em;
    float:left;
    margin-left:2em;
    width:17.8em;
}

.nav li a{
    padding:0.5em;
   

}
.searchbox{
    clear:both;
    
    width:30em;
    margin-left:30%;
    margin-top:5px;
}
.searchbox input{

    float:left;
}
.searchbox img{
    float:left;
    height:15px;
    width:1.25em;
}

/*for body part */

.main{
    width:100%;
    font-family: 'Poppins', sans-serif;
    
}
.row{
    padding-left:2em;
    float:left;
    width:100%;
    padding-top:1em;
    padding-right:2em;
}
.r1 .left{
    width:61.11%;
    float:left;
    padding-right:11.02%;
}
.r1 .left .text, .r2 .left .text{
    padding-top:15px;
}
.r1 .right{
    width:38.89%;
    float:left;
}
.left-btn{
    margin: 0 8px 0 0;
}
.r1 .buttons{
    margin-top:3.7vw;
}

.r2 .left , .r4 .left{
    width:50%;
    float:left;
}
.r2 .right , .r4 .right{
    width:50%;
    float:left;
}
.up-text{
    width:65%;
    margin:0 auto;
}

.down-pics{
    width:100%;
}

.down-pics{
    margin-top: 3.33vw;
}
.down-pics .title{
    padding-bottom: 1vw;
}
.left-box ,.middle-box,.right-box{
    width:28%;
    float:left;
}

.r8 .down-pics{
    width:100%;
    float:left;
}
.left-post ,.middle-post,.right-post{
    width:28%;
    float:left;
}
.left-post,.middle-post{
    margin-right:8%;
}
.row{
    padding-bottom:0.5em;
}





/* for tab screen */
@media (min-width:480px){
.body{
    width:100%
}
.header{
    padding:33px 1.95% 5.21vw 1.95% ;
    float:left;
}
.logo{
    margin-left: 0;
    width:14.72%;
    float:left;
}
.logo img{
    width:100%;
}
.nav{
    margin-top:0;
    margin-left:5.28%;
    width: 24.153em;
    position:relative;
}
.searchbox{
    margin-left:0;
    clear:none;
    margin-top:0;
    float:right;
    width:19.03%;
}
.row{
    padding-left:1em;
}



}

/* for big screen */
@media (min-width:768px){
    .body{
        width:100%;
    }
    .header{
        padding: 33px 9.51% 40px 9.51%
    }
    .searchbox{
        width:19.16%;
    }
    .nav{
        padding-top:11px;
        width:53%;
    }
    .row{
        padding-left:9.51%;
        padding-right:9.51%;
    }

}
