.header{
    background-color:#eaae00;
}
.nav li {
    list-style: none;
    display: inline;
}
.nav li a:hover{
    color: blue;
}
.nav li a{
    text-decoration:none;
    color:white;
    font-size:1em;
}
.searchbox input{
    width:9.43em;
    border:none;
    outline:0;
   
}
.searchbox input::placeholder{
    color:white;
    text-align: center;
}
.yellow-back{
    background-color: #ffc400;
}
.white-back{
    background-color:#ffff
}
/*for body part mob */
.r1 .right img {
    width:29.1vw;
}
.r1 .left .title p , .r2 .title ,.r4 .title{
    font-weight: bold;
    color:white;
    font-size: 150%;
}
.r1 .left .text p, .r2 .text p , .r4 .text .p{
    color:white;
    font-size: 85%;
    text-align: justify;
}
.left-btn, .right-btn{
    border-radius: 10px;
}
.right-btn {
    border:2px solid white;
    background-color: inherit;
    color:white;
    padding:3px;
}
.left-btn , .right-btn:hover{
    border:hidden;
    background-color:#00bfcb;
    color:white;
    padding:3px;
}
.r2, .r4{
    padding-bottom:10vw;
}

.r2 .left-btn, .r4 .left-btn{
    margin-top:3.7vw;
    background-color: #ffc400;
}
.r2 .title, .r4 .title{
    color:black;
    font-size:140%;
}
.r2 .text p{
    color:black;
}
.r2 .big-rect{
    margin-left:15%;
    height:33.54vw;
    width:35.34vw;
    display: block;
    position: relative;
    background-color:#eaae00 ;
    z-index:1;

}
.r2 .small-rect{
    float:left;
    margin-top:-25%;
    margin-left: 5%;
    width:17.7vw;
    height:14.51vw;
    background-color: #ffc400;
    position: relative;

}
.big-rect img{
    width:10%;
    height:10%;
    margin:45%;
    z-index: 2;
    
}
.big-rect:hover{
    background-image:url("../assets/video-dog.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.r2 .left .left-btn:hover{
    background-color: #00bfcb ;
}

.up-text .title{
    text-align:center;
    color:white;
    font-size: 140%;
    font-weight: bold;
}
.r3 .text p ,.r5 .text p{
    padding-top: 1em;
    text-align:center;
    color:white;
    font-size:85%;

}
.down-pics {
    width:100%;
}
.left-img , .middle-img , .right-img{
    width:25.75vw;
}
.down-pics img{
    width:inherit;
}
.middle-img{
    margin-left:7%;
}
.r3 .down-pics .title{
    color:white;
    font-size:100%;
    font-weight: bold;
    text-align: center;
    
}
.r3 .down-pics .txt{
    color:white;
    font-size:80%;
    text-align: center;

}
.r4 .big-rect{
    margin-right:15%;
    height:33.54vw;
    width:35.34vw;
    display: block;
    position: relative;
    background-color:#eaae00 ;
    z-index:1;
}
.r4 .big-rect img{

    transform: scaleX(-1);

}
.r4 .small-rect{
    float:right;
    margin-top:-25%;
    margin-right: 5%;
    width:17.7vw;
    height:14.51vw;
    background-color: #ffc400;
    position: relative;

}
.r4 .text p{
    text-align: right;
}
.r4 .left-btn{
    float:right;
}

.r4 .title{
    text-align: right;
}

.r5 .down-pics .title {
    color:white;
    text-align: center;

}

.strike{
    text-decoration: line-through;
    padding-right: 7%;
}
.buy{
    margin-top:-1vw;
    width:100%;

}

.buy a{
    margin-left:35%;
    text-decoration: none;
    color:white;
    font-size:60%;
    padding:0.2em 0.5em 0.2em 0.5em;
    background-color: #00bfcb;
    border-radius: 30px;
}
.r5 .middle-img img{
    max-width:100%;
    max-height:100%;
}






/* for tabs */
@media (min-width:480px){
.header{
    font-size: 2.08vw;
}
.searchbox input{
    height: 3.90vw;
    width:74.09%;

}
.searchbox img{
    height:3.90vw;
    width:25.91%;
}
.nav a{
    font-size:160%;
}
.nav li:last-child a{
    padding-right:0px;
}

/* for body tab */
.main{
    font-size:3.08vw;
}

}








/* header for big screen */

@media(min-width:768px){
.header{
    font-size:16px;
}
.searchbox input{
    height:42px;
    width:74.09%

}
.searchbox img{
    height:42px;
    width:25.91%;

}
.nav li a {
    font-size: 2.29vw;
}
.logo{
    width:14.72vw;
    max-width:212px;
}
.left-btn , .right-btn{
    width:12.63vw;
    height:4.7vw;
    font-size: 20px;
    
}
.left-img , .middle-img , .right-img{
    width:23.75vw;
}
.middle-img{
    
    margin-left:7%;
}



}