.header{
    background-color:#eaae00;
}
.nav li {
    list-style: none;
    display: inline;
}
.nav li a:hover{
    color: blue;
}
.nav li a{
    text-decoration:none;
    color:white;
    font-size:1em;
}
.searchbox input{
    width:9.43em;
    border:none;
    outline:0;
   
}
.searchbox input::placeholder{
    color:white;
    text-align: center;
}
.yellow-back{
    background-color: #ffc400;
}
.white-back{
    background-color:#ffff
}
/*for body part mob */
.r1 .right img {
    width:29.1vw;
}
.r1 .left .title p , .r2 .title ,.r4 .title{
    font-weight: bold;
    color:white;
    font-size: 150%;
}
.r1 .left .text p, .r2 .text p , .r4 .text .p{
    color:white;
    font-size: 85%;
    text-align: justify;
}
.left-btn, .right-btn{
    border-radius: 10px;
}
.right-btn {
    border:2px solid white;
    background-color: inherit;
    color:white;
    padding:3px;
}
.left-btn , .right-btn:hover{
    border:hidden;
    background-color:#00bfcb;
    color:white;
    padding:3px;
}
.r2, .r4{
    padding-bottom:10vw;
}

.r2 .left-btn, .r4 .left-btn{
    margin-top:3.7vw;
    background-color: #ffc400;
}
.r2 .title, .r4 .title{
    color:black;
    font-size:140%;
}
.r2 .text p{
    color:black;
}
.r2 .big-rect{
    margin-left:15%;
    height:33.54vw;
    width:35.34vw;
    display: block;
    position: relative;
    background-color:#eaae00 ;
    z-index:1;

}
.r2 .small-rect{
    float:left;
    margin-top:-25%;
    margin-left: 5%;
    width:17.7vw;
    height:14.51vw;
    background-color: #ffc400;
    position: relative;

}
.big-rect img{
    width:10%;
    height:10%;
    margin:45%;
    z-index: 2;
    
}
.big-rect:hover{
    background-image:url("../assets/video-dog.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.r2 .left .left-btn:hover{
    background-color: #00bfcb ;
}

.up-text .title{
    text-align:center;
    color:white;
    font-size: 140%;
    font-weight: bold;
}
.r3 .text p ,.r5 .text p, .r6 .text p{
    padding-top: 1em;
    text-align:center;
    color:white;
    font-size:85%;

}
.down-pics {
    width:100%;
}
.left-img , .middle-img , .right-img{
    width:25.75vw;
}
.down-pics img{
   max-width: 100%;
   max-height: 100%;
}
.middle-img{
    margin-left:7%;
}
.r3 .down-pics .title ,.r6 .down-pics .title{
    color:white;
    font-size:100%;
    font-weight: bold;
    text-align: center;
    
}
.r3 .down-pics .txt{
    color:white;
    font-size:80%;
    text-align: center;

}
.r4 .big-rect{
    margin-right:15%;
    height:33.54vw;
    width:35.34vw;
    display: block;
    position: relative;
    background-color:#eaae00 ;
    z-index:1;
}
.r4 .big-rect img{

    transform: scaleX(-1);

}
.r4 .small-rect{
    float:right;
    margin-top:-25%;
    margin-right: 5%;
    width:17.7vw;
    height:14.51vw;
    background-color: #ffc400;
    position: relative;

}
.r4 .text p{
    text-align: right;
}
.r4 .left-btn{
    float:right;
}

.r4 .title{
    text-align: right;
}

.r5 .down-pics .title {
    color:white;
    text-align: center;

}

.strike{
    text-decoration: line-through;
    padding-right: 7%;
}
.buy{
    margin-top:-1vw;
    width:100%;

}

.buy a{
    margin-left:35%;
    text-decoration: none;
    color:white;
    font-size:60%;
    padding:0.2em 0.5em 0.2em 0.5em;
    background-color: #00bfcb;
    border-radius: 30px;
}
.r5 img {
    max-width:100%;
    max-height:100%;
}
.r6 .up-text .title{
    color:black;

}
.r6 .text p{
    color:black;
}
.r6 .down-pics .title{
    color:black;
}
.r6 .down-pics .text{
    font-size: 50%;
    text-align: center;
    color:#2d2e42
}
.band{
    width:13.1vw;
    height:0.8em;
    margin:0 auto;
    background-color:#ffc400 ;
}
.r6 .down-pics .text{
    margin-bottom:0.5em;
}
.left-box , .right-box,.middle-box{
    padding-bottom:2em;
}

.r7 img{
    margin-top:2em;
    margin-left:35%;
    max-width: 100%;
    max-height: 100%;
}
.r7 .text{
    font-size:80%;
    text-align: center;
    color:white;
    padding-top:4px;
    padding-bottom: 3px;
}
.r7  .title{
    color:white;
    font-weight: bold;
    text-align: center;
}
.r8 .title p {
    color:black;
}
.r8 .up-text .text{
    margin-top:0.5em;
    text-align: center;
    font-size: 80%;
}
.r8 img{
    max-width:100%;
    max-height:100%;
}
.left-box ,.middle-box{
    margin-right:8%;
}
.r8 .down-pics .title{
    font-size: 70%;
    font-weight: bold;
    padding-bottom: 5px;
}
.r8 .down-pics .date{
    color:#88e1e7;
    font-size:45%;

}
.r8 .down-pics .text {
    padding-top:10px;
    font-size: 45%;
    color:#9d9da7
}
.read-more a{
    text-decoration: none;
    color:#00bfcb
}

.read-more{
    padding-top:10px;
    
    font-size: 45%;
    font-weight: bold;
}
.text-decoration{
    padding:0px 5% 0px 5%;
}
.left-post .text-decoration , .right-post .text-decoration {
    border:1px solid #d7d7d7;
    border-top: 0px;
}
.footer{
    background-color: #313131;

}
.about a, .services a{
    text-decoration:none;
    color:white;
}
.about{
    float:left;
}
.services{
    float:right;
}
.topic{
    font-size: 100%;
    color:white;
    font-weight: bold;
}
.about li , .services li {
    list-style: none;
    font-size: 75%;

}
.about ul , .services ul{
    padding-top:5px;
    
}
.foot-right{
    clear:both;
    padding-top:16px;
}
.foot-right .topic{
    text-align: center;
}
.foot-right .txts{
    color:white;
    font-size: 75%;
    text-align: center;
}
.feedback{
    margin-top:10px;
}
.feedback input{
    margin-left:30%;
    
    width:23.65vw;
    border:none;
    height:4.2vw;
    float:left;
}
.feedback img{
    width:10.21vw;
    height:4.2vw;
}
.social-media{
    clear:both;

}
.social-media li{
    list-style:none;
    float:left;
}
.social-media ul{
    
    padding-top:16px;

}


/* for tabs */
@media (min-width:480px){
.header{
    font-size: 2.08vw;
}
.searchbox input{
    height: 3.90vw;
    width:74.09%;

}
.searchbox img{
    height:3.90vw;
    width:25.91%;
}
.nav li a{
    font-size:2.7vw;
}
.nav li:last-child a{
    padding-right:0px;
}

/* for body tab */
.main{
    font-size:3.08vw;
}
.r1 .left{
    padding-top:5vw;
}
.row{
    padding-bottom: 10vw;
    padding-top:5vw;
}

/* for footer */
.services{
    float:left;
    margin-left:15%;
}
.foot-right{
    clear:none;
    float:right;
    padding-top:0px;
}
.feedback{
    margin-top:0px;

}
.foot-right .topic , .foot-right .txts{
    text-align: right;
}
.feedback .txts{
    padding-top:10px;
}
.feedback input{
    margin-left:0px;
}
.feedback input ,.feedback img{
    margin-top:3vw;
}
.social-media img{
    max-width:3vw;
}

.social-media{
    clear:both;
    float:right;
    margin-top:1.5vw;
}

}








/* header for big screen */

@media(min-width:768px){
.header{
    font-size:16px;
}
.searchbox input{
    height:42px;
    width:74.09%

}
.searchbox img{
    height:42px;
    width:25.91%;

}
.nav li a {
    font-size: 2.29vw;
}
.logo{
    width:14.72vw;
    max-width:212px;
}
.left-btn , .right-btn{
    width:12.63vw;
    height:4.7vw;
    font-size: 16px;
    
}
.left-img , .middle-img , .right-img{
    width:23.75vw;
}
.middle-img{
    margin-left:7%;
}

/*footer */
.footer{
    font-size:150%;
}

}